/* app css stylesheet */

.guiContainer {
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  background-color: #aa9555;

  border-style: solid;
  border-color: #77683c;
  border-width: 15px;

  overflow: hidden;
}

/*View Port---------------------------------------*/

.viewPort {
  overflow: auto;
  float: left;
  position: absolute;
  left: 220px;
  display: inline-block;
  height: calc(100vh - 30px);
  width: calc(100vw - 470px);
  background: -webkit-radial-gradient(50% 50%, farthest-side, #e6f7ff, #538cc6); /* Safari 5.1 to 6.0 */
  /*background: -o-radial-gradient(red, yellow, green); /* For Opera 11.6 to 12.0 */
  /*background: -moz-radial-gradient(red, yellow, green); /* For Firefox 3.6 to 15 */
  /*background: radial-gradient(red, yellow, green); /* Standard syntax */
  background-color: #89bff5;

  -webkit-animation-name: dayNightCycle;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes dayNightCycle {
  0% {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
  50%{
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
  }
  100% {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
}

.worldWindow {
  overflow: visible;
  display: inline-block;
}

.mapWrapper { /* Width and height calculated in AngularJS via HTML */
  background-color: #fbfbd0;
  position: relative;
  display: inline-block;
  float: left;
  box-sizing: border-box;

  outline-style: solid;
  outline-color: #fbfbd0;
  -webkit-box-sizing: content-box;

  -webkit-animation-name: waves;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes waves {
  0% {
    outline-width: 29px;
  }
  35% {
    outline-width: 0px;
  }
  100%{
    outline-width: 29px;
  }
}

.rotate { transform: rotate(45deg); }

.rotateBack { transform: rotate(-45deg); }

.flatten { transform: scaleY(0.5); }

.mapRow {
  float: left;
  line-height: 0px;
}

.mapCell {
  display: inline-block;
  float: top;
  background-color: #71b042;
  color: #ccff33;
  margin: 0px;
  padding: 0px;
}

.mapCell:hover {
  -webkit-filter: brightness(130%);
  filter: brightness(130%);
}

.mapCell:active {
  -webkit-filter: brightness(180%);
  filter: brightness(180%);
}

.firstRow {
  background-color: #fbfbd0;
}

.firstCell { /* Applies on the first cell on each row */
  background-color: #fbfbd0;
}

.dark {
  -webkit-filter: brightness(92%);
  filter: brightness(93%);
}

.hover {
  background-color: #66ffff;
}

/*---------------------------------------------*/

.leftSideBar {
  position: absolute;
  height: calc(100vh - 30px);
  width: 200px;
  float: left;
  background-color: #67674c;

  border-right-style: solid;
  border-color: #77683c;
  border-width: 5px;
}

.rightSideBar {
  height: 100%;
  width: 200px;
  float: right;
  display: none;

  border-left-style: solid;
  border-color: #77683c;
  border-width: 10px;
}

.logContainer {
  height: 100%;
  background-color: #221e11;

  overflow-x: hidden;
  overflow-y: auto;
}

.logText {
  font-size: 14px;
  color:  #003d66;
  margin-bottom: 0px;
}

.alarm {
  color:  #e62e00;
}

.alert {
  color:  #ffff00;
}

h3 {
  margin-top: 4px;
  margin: 0px;
  padding-left: 4px;

  border-bottom-style: solid;
  border-color: #77683c;
  border-width: 2px;
}