/* app css stylesheet */

.gameContainer {
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  background-color: #aa9555;

  border-style: solid;
  border-color: #77683c;
  border-width: 20px;

  overflow: hidden;
}

.gameWindow {
  background-color: #111a00;
  float: right;

  height: 100%;
  width: calc(100% - 420px);

  overflow: auto;
}

.mapWrapper {
  background-color: red;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  margin-top: 30%;
  margin-left: 100%;
  overflow: visible;

  height: 10px;
  width: 10px;
  /*border-top-style: solid;
  border-left-style: solid;
  border-width: 1px;*/

  text-align: left;
  font-size: 9px;
}

.rotate { transform: rotate(45deg); }

.flatten { transform: scale(2, 1); }

.mapRow {
  float: left;
  white-space: nowrap;
  border-width: 1px;
}

.firstRow {
  border-top-style: solid;
}

.firstCell {
  border-left-style: solid;
}

.mapCell {
  height: 30px;
  width: 30px;
  display: inline-block;
  float: top;

  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  background-color: #88cc00;

  text-align: center;
}

.grass {
  background-color: #77b300;
}

.hover {
  background-color: #66ffff;
}

.leftSideBar {
  height: 100%;
  width: 200px;
  position: static;

  border-right-style: solid;
  border-color: #77683c;
  border-width: 10px;
}

.rightSideBar {
  height: 100%;
  width: 200px;
  float:  right;

  border-left-style: solid;
  border-color: #77683c;
  border-width: 10px;
}

.logContainer {
  height: 100%;
  background-color: #221e11;

  overflow-x: hidden;
  overflow-y: auto;
}

.logText {
  font-size: 14px;
  color:  #003d66;
  margin-bottom: 0px;
}

.alarm {
  color:  #e62e00;
}

.alert {
  color:  #ffff00;
}

h3 {
  margin-top: 4px;
  margin: 0px;
  padding-left: 4px;

  border-bottom-style: solid;
  border-color: #77683c;
  border-width: 2px;
}