/* app css stylesheet */

.guiContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

/*View Port---------------------------------------*/

.viewPort {  /* Overflow:  hidden;, enable moving ctrls that change worldWindow pos*/
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  line-height: 0px;
  background: -webkit-radial-gradient(50% 50%, farthest-side, #e6f7ff, #538cc6); /* Safari 5.1 to 6.0 */
  /*background: -o-radial-gradient(red, yellow, green); /* For Opera 11.6 to 12.0 */
  /*background: -moz-radial-gradient(red, yellow, green); /* For Firefox 3.6 to 15 */
  /*background: radial-gradient(red, yellow, green); /* Standard syntax */
  background-color: #89bff5;
  /*-webkit-animation-name: dayNightCycle;*/
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  position: relative;
}

@-webkit-keyframes dayNightCycle {
  0% {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
  50%{
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
  }
  100% {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
}

.worldWindow {
  overflow: visible;
  display: inline-block;
  position: absolute;

  transition: all 0.1s 0s ease-out;
  transition-property: top, left;
}

.mapWrapper { /* Width and height calculated in AngularJS via HTML */
  background-color: #fbfbd0;
  position: relative;
  display: inline-block;
  float: left;
  box-sizing: border-box;

  outline-style: solid;
  outline-color: #fbfbd0;
  outline-width: 30px;
  border-style: solid;
  border-color: #fbfbd0;
  border-width: 5px;
  -webkit-box-sizing: content-box;

  animation: waves 3s ease-out 0s infinite alternate;
}

@-webkit-keyframes waves {
  100%{
    outline-width: 0px;
  }
}

.rotate { transform: rotate(45deg); }

.rotateBack { transform: rotate(-45deg); }

.flatten { transform: scaleY(0.5); }

.mapRow {
  float: left;
  line-height: 0px;
}

.firstRow {
  background-color: #fbfbd0;
}

.mapCell {
  display: inline-block;
  float: top;
  background-color: #71b042;
  color: #ccff33;
  margin: 0px;
  padding: 0px;
}.mapCell:hover {
  -webkit-filter: brightness(130%);
  filter: brightness(130%);
}.mapCell:active {
  -webkit-filter: brightness(180%);
  filter: brightness(180%);
}

.firstCell { /* Applies on the first cell on each row */
  background-color: #fbfbd0;
}

.dark {
  -webkit-filter: brightness(93%);
  filter: brightness(93%);
}

/* GUI ---------------------------------------------*/

.overlayContainer {
  position: absolute;
  width: 120px;
  top: calc(35px - 100vh); /*Set to minus 180 to collapse*/
  left: 0px;

  opacity: 0.3;

  transition:  top 0.5s 0.3s ease-in-out, opacity 0.8s 0.6s ease-in-out;
}.overlayContainer:hover {
  top: 0;
  opacity: 1;

  transition: top 0.2s 0.2s ease-in-out, opacity 0.2s 0s ease-in-out;
}

.overlay {
  width: 100%;
  height: calc(100vh - 35px);
  border-right-style: solid;
  border-color: white;
  border-width: 2px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
}

.overlayContent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  padding-bottom: 20px;

  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.testBox {
  flex: none;

  margin: 5px;
  margin-right: 8px;

  background-color: green;
  height: 85px;
  width:  85px;
}

.overlayBottom {
  width: 100%;
  height: 35px;
  border-radius: 0px 0px 30px 0px;
  background-color: white;
  color: black;
  text-align: center;
  position: inherit;
}

.newNotice {
  animation: newNotice 0.7s ease-out 0s infinite alternate;
}

@-webkit-keyframes newNotice {
  100% {
    opacity: 0.7;
    /*box-shadow: 0px 0px 5px 10px #ffffcc;*/
  }
}

.glassPanel {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100% - 6px); /*-6px for scroll-bar*/
  box-shadow: -5px -5px 20px 10px rgba(255, 255, 255, 1) inset;
  color: black;
}

.panelCollapseIcon {
  position: absolute;
  bottom: 10px;
  width: 120px;
  
  font-size: 16px;
  color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


::-webkit-scrollbar {
    background-color: white;
    width: 6px;
}
 
::-webkit-scrollbar-track {
    background-color: #e6e6e6;
    border-radius: 0px 0px 7px 0px;
}

::-webkit-scrollbar-track-piece:end   {
    background-color: white;
}

::-webkit-scrollbar-thumb {
  height: 5px;
  background-color: #e6e6e6;
  border-radius: 0px 0px 7px 0px;
}