<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="GameEngine" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="GameEngine" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="GameEngine" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="GameEngine" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Game Test</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body key-listener keypress-events key-listener>
  <div class="guiContainer" ng-controller="GameCtrl">
    <div class="viewPort">
      <div class="worldWindow" ng-style="newMapSizeToJSON()">
        <div class="flatten">
          <div class="mapWrapper rotate" ng-style="{'height' : getMapSize()+'px', 'width' : getMapSize()+'px', 'top' : determineMapPosition()+'px', 'left' : determineMapPosition()+'px', 'border-width' : CELL_SIZE/6+'px', 'outline-width' : CELL_SIZE/2+'px'}"> 
            <div class="mapRow" ng-repeat="row in worldMap track by $index" ng-init="x_pos = $index; borderCell = ($first || $last)">
              <div class="mapCell" ng-style="{'height' : CELL_SIZE+'px', 'width' : CELL_SIZE+'px'}" ng-mouseenter="hover = true" ng-click="cellClick(x_pos, y_pos)" ng-class="{'firstCell' : ($first || $last || borderCell), 'dark': (x_pos + y_pos) % 2}" ng-mouseleave="hover = false" ng-repeat="cell in row track by $index" ng-init="y_pos = $index">
                <p class="rotateBack" ng-hide="true">({{x_pos}},{{y_pos}})</p>
                <p class="rotateBack" ng-hide="true">{{$first}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--GUI ~~~~~~~~~~~~~~~~~~~~~~~~~~-->

    <div class="overlayContainer">
      <div class="overlay">
        <div class="overlayContent">
         This<br>is<br>content,<br>a<br>very<br>long<br>sentence!<br>This<br>should<br>trigger<br>overflow.<br>This<br>is<br>content,<br>a<br>very<br>long<br>sentence.<br>This<br>is<br>content,<br>a<br>very<br>long<br>sentence!<br>This<br>should<br>trigger<br>overflow.<br>This<br>is<br>content,<br>a<br>very<br>long<br>sentence
        </div>
        <div class="glassPanel">
        </div>
      </div>
      <div class="overlayBottom">
        <div class="panelCollapseIcon">
          &#8595;
        </div>
      </div>
    </div>

  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
